<!DOCTYPE html>
<html lang="en">
    <head lang="es" xml:lang="es">
        <head lang="es" xml:lang="es">
            <link rel="stylesheet" type="text/css" href="../assets/styles/barra1.css">
            <link rel="stylesheet" type="text/css" href="../assets/styles/ADMIN1.css">
            <link rel="icon" type="image/png" href="../assets/img/LOGO1.PNG">
            <title>Administrador</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        </head>
<body>
    <header class="header">
        <div>
            <div class="container">
                <a href=""><img src="../assets/img/escudo1.png"  type="image/png"></a>
                <h1 class="titulo">Administrador</h1>
            </div>
        </div>
    </header>

    <div class="botones">
        <div class="wrapper">
            <a href="Admin/Productos.php">
                <button>Productos
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>
        </div>
        <div class="wrapper">
            <a href="Admin/Proveedores.php">
                <button>Proveedores
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>
        </div>
        <div class="wrapper">
            <a href="Admin/Unidades.php">
                <button>Tipo Unidades
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>
        </div>
    </div>
</body>
</html>