<!DOCTYPE html>
<html lang="en">
    <head lang="es" xml:lang="es">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="../assets/styles/barra1.css">
        <link rel="stylesheet" type="text/css" href="../assets/styles/inventario.css">
        <link rel="icon" type="image/png" href="../assets/img/LOGO1.PNG">
        <title>Inventario</title>
    </head>
<body div class="body">
    <header class="header">
        <div>
            <div class="container">
                <div class="img">
                    <a href=""><img src="../assets/img/escudo1.png" type="image/png"></a>
                </div>
                <div class="h1">
                    
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="principal">
            <h1><b class="titulo">Bienvenidos a <em>Novedades LogiTrace</em></b></h1>
                <p class="descripcion">Descubre nuestro avanzado sistema de eficiencia logistica diseñado para optimizar la organización de recursos en LogiTrace. 
                    Con nuestra plataforma, podrás realizar un seguimiento preciso y en tiempo real de todos los activos, desde equipos hasta suministros.  
                    Simplifica tus operaciones diarias, reduce pérdidas innecesarias y toma decisiones informadas basadas en datos actualizados. 
                    Nuestra solución intuitiva se adapta a las necesidades específicas de tu organización, brindándote el control total que necesitas sobre 
                    tu abastecimiento.
                </p>
        </div>
        <div>
        <div class="wrapper">
            <a href="limpieza.html">
                <button>
                    Artefactos
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>
        </div>
        <div class="wrapper">
            <a href="papelera.html">
                <button>
                    Componentes
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>
        </div>
        <div class="wrapper">
            <a href="ADMINISTRADOR.html">
                <button>
                    Administrador
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>
        </div>
        </div>
    </main>
    <footer class="footer">
        
    </footer>
</body>
</html>