<!DOCTYPE html>
<html lang="en">
    <head lang="es" xml:lang="es">
        <meta charset="utf-8"> <!-- Configuración de codificación de caracteres -->
        <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1"> <!-- Configuración de compatibilidad -->
        <link rel="stylesheet" type="text/css" href="../assets/styles/barra1.css"> <!-- Enlace a hoja de estilo "barra.css" -->
        <link rel="stylesheet" type="text/css" href="../assets/styles/en-sa-co1.css"> <!-- Enlace a hoja de estilo "en-sa-con.css" -->
        <link rel="icon" type="image/png" href="../assets/img/LOGO1.PNG"> <!-- Ícono de la pestaña del navegador -->
        <title>Limpieza</title> <!-- Título de la página web -->
    </head>
    <body>
        <header class="header"> <!-- Encabezado de la página -->
            <div> <!-- Contenedor del encabezado -->
                <div class="container">
                    <a href=""> <!-- Enlace al sitio web de la institución educativa -->
                        <img src="../assets/img/escudo1.png" type="image/png"> <!-- Imagen del LOGO1tipo de la institución -->
                    </a>
                    <h1 class="titulo">Artefactos</h1> <!-- Título principal de la página -->
                </div>
            </div>
        </header>
        <section class="layout"> <!-- Sección de contenido -->
            <div class="wrapper"> <!-- Contenedor del primer botón -->
                <a href="Limpieza/Entradas.php"> <!-- Enlace a la página "Entradas.php" en la carpeta "Limpieza" -->
                    <button> <!-- Botón para "Entradas" -->
                        Abastecimiento 
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </a>
            </div>
            <div class="wrapper"> <!-- Contenedor del segundo botón -->
                <a href="Limpieza/Salidas.php"> <!-- Enlace a la página "Salidas.php" en la carpeta "Limpieza" -->
                    <button> <!-- Botón para "Salidas" -->
                        Entregados 
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </a>
            </div>
        </section>
    </body>
    <footer class="footer"> <!-- Pie de página (actualmente vacío) -->
    </footer>
</html>
